<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Controle BOT">
  <ion-content class="padding">

    <!--Table of Estados-->
    <div class="list card" ng-if="!captcha.url">

      <!--Cupons Estados-->
      <div class="row item item-divider">
        <div class="col">
          Cupons:
        </div>
      </div>

      <!--Headers-->
      <div class="row item item-text-wrap" ng-show="cupons[0]">
        <div class="col">
          <font style="text-shadow: 1px 0px 1px black">Estado</font>
        </div>
        <div class="col">
          <font style="text-shadow: 1px 0px 1px black">Quantidade</font>
        </div>
      </div>

      <!--Estado Info-->
      <div class="row item item-body" ng-repeat="cupom in cupons">
        <div class="col">
          <p>{{cupom.estado | estado}}:</p>
        </div>
        <div class="col">
          <p>{{cupom.quantity}}</p>
        </div>
      </div>

      <!--Chaves Estados-->
      <div class="row item item-divider">
        <div class="col">
          Chaves:
        </div>
      </div>

      <!--Headers-->
      <div class="row item item-text-wrap" ng-if="chaves[0]">
        <div class="col">
          <font style="text-shadow: 1px 0px 1px black">Estado</font>
        </div>
        <div class="col">
          <font style="text-shadow: 1px 0px 1px black">Quantidade</font>
        </div>
      </div>

      <!--Estado Info-->
      <div class="row item item-body" ng-repeat="chave in chaves">
        <div class="col">
          <p>{{chave.estado | estado}}:</p>
        </div>
        <div class="col">
          <p>{{chave.quantity}}</p>
        </div>
      </div>
    </div>

    <img ng-src="{{captcha.url}}" ng-if="captcha.url" style="width: 100%"/>

    <!--Register Either Chave or Cupom-->
    <button class="button button-block button-dark"   ng-if="!captcha.url" ng-click="showCaptcha(true)">Cadastrar Cupons</button>
    <button class="button button-block button-stable" ng-if="!captcha.url" ng-click="showCaptcha(false)">Cadastrar Chaves</button>

    <!--Captcha Text-->
    <label class="item item-input" ng-if="captcha.url">
      <span class="input-label">CAPTCHA:</span>
      <input name="txtCaptcha" type="text" placeholder="EX: A9A9" ng-model="captcha.valor" ng-required="true" ui-captcha/>
    </label>
    <br/>


    <!--Send Captcha to Resolve Chave or Cupom-->
    <button class="button button-block button-dark"   ng-if="captcha.url && cupom"  ng-disabled="captcha.valor.length!=4" ng-click="registerCupom(captcha)">Resolver Captcha</button>
    <button class="button button-block button-stable" ng-if="captcha.url && !cupom" ng-disabled="captcha.valor.length!=4" ng-click="registerChave(captcha)">Resolver Captcha</button>

    <!--Cancel Operation-->
    <button class="button button-block button-assertive" ng-if="captcha.url" ng-click="cancel()">Cancelar</button>

  </ion-content>
</ion-view>
